<h1>All Available Trips</h1>
<%if flash[:notifications]%>
    <%= flash[:notifications] %>
<%end%>
<table style="width:60%" class="table">
    <tr>
        <th>Trip ID</th>
        <th>Info</th>
    </tr>
    <%@trips.each do |trip|%>
    <tr>
        <td><%=trip.id%></td>
        <td><%="#{trip.grocery_store.name} to #{trip.food_bank.name}"%></td>
    <%end%>
    </tr>

</table><br>