<%= button_to "Login",login_path,method: :get%>
<%= button_to "Register",new_volunteer_path,method: :get%>
<h1>Big fatty home page</h1>
<img src="https://www.centredaily.com/latest-news/2jv21a/picture241263096/alternates/FREE_768/STC_SCfoodbank4.JPG">
