<h1>Welcome!</h1>
<p>Our mission at Food Connect is to connect Grocery Stores with Foobanks in an effort to reduce food waste in America. Volunteers can select trips between a specific Grocery Store and Foodbank, based on the distance of the trip. Thanks for visiting! </p>
<%=image_tag("foodbank.jpeg")%>