<h1>Welcome!</h1>
<p>Did you know that 30-40% of food is wasted each year in America? Our mission at Food Connect is to link Grocery Stores, Foobanks, and volunteer drivers in an effort to reduce this egregious food waste. As a Volunteer you can select trips between a specific Grocery Store and Foodbank based on the distance of the trip. As a Food Bank you can create trips to be added to the queue for volunteers to pick up. Thanks for visiting! </p>
<%=image_tag("foodbank.jpeg")%>
